<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Academic Journal" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Academic Journal">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50">
    <header class="bg-white flex justify-between px-4 sm:px-6 lg:px-8 h-16 items-center fixed right-0 top-0 left-0">
      <div class="flex items-center gap-2">
        <i class="fa-solid fa-book-open text-2xl"></i>
        <h2 class="text-xl font-bold">Portal Científico</h2>
      </div>
      
      <div class=" md:hidden">
        <i class="fa-solid fa-bars text-2xl"></i>
      </div>

      <nav class="hidden md:flex">
        <ul class="flex items-center gap-8">
          <li><%= link_to "Início", root_path %></li>
          <li><%= link_to "Artigos", acervo_path %></li>
          <li><%= link_to "Área Administrativa", login_path %></li>
        </ul>
      </nav>
    </header>

    <main class="mt-16">
      <%= yield %>
    </main>

    <footer class="bg-admin text-blue-100 py-12 mt-auto">
        <div class="container mx-auto px-4 sm:px-6 lg:px-8 grid grid-cols-1 md:grid-cols-3 gap-8">
            <div>
                 <div class="flex items-center mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-primary-light" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.747 0-3.332.477-4.5 1.253"></path>
                    </svg>
                    <span class="ml-2 text-xl font-bold text-white">Portal Científico</span>
                </div>
                <p class="text-sm opacity-80">Dedicado à disseminação do conhecimento científico de qualidade.</p>
            </div>
            <div>
                <h4 class="text-white font-bold mb-4">Links Rápidos</h4>
                <ul class="space-y-2 text-sm">
                    <li><a href="index.html" class="hover:text-white transition">Início</a></li>
                    <li><a href="artigos.html" class="text-white transition">Artigos</a></li>
                    <li><a href="#" class="hover:text-white transition">Sobre Nós</a></li>
                    <li><a href="#" class="hover:text-white transition">Contato</a></li>
                </ul>
            </div>
            <div>
                 <h4 class="text-white font-bold mb-4">Área Restrita</h4>
                 <a href="login.html" class="inline-block bg-primary hover:bg-primary-dark text-white text-sm font-medium px-4 py-2 rounded transition">Login Administrativo</a>
            </div>
        </div>
        <div class="container mx-auto px-4 sm:px-6 lg:px-8 mt-8 pt-8 border-t border-gray-700 text-center text-sm opacity-60">
            © 2025 Portal Científico Institucional. Todos os direitos reservados.
        </div>
    </footer>
  </body>
</html>
